<div class="row g-4">

    <div class="col-md-4">
        <div class="card text-white shadow-sm border-0"
             style="background:#1976D2;">
            <div class="card-body text-center">
                <h6>Scheduled Appointments</h6>
                <h2 class="fw-bold">@ViewBag.MyAppointments</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white shadow-sm border-0"
             style="background:#2E7D32;">
            <div class="card-body text-center">
                <h6>Completed Visits</h6>
                <h2 class="fw-bold">@ViewBag.CompletedVisits</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white shadow-sm border-0"
             style="background:#F57C00;">
            <div class="card-body text-center">
                <h6>Pending Lab Results</h6>
                <h2 class="fw-bold">@ViewBag.PendingLabResults</h2>
            </div>
        </div>
    </div>

</div>