<div class="row g-4">

    <div class="col-md-4">
        <div class="card text-white shadow-sm border-0"
             style="background:#1565C0;">
            <div class="card-body text-center">
                <h6>Today's Appointments</h6>
                <h2 class="fw-bold">@ViewBag.TodayAppointments</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white shadow-sm border-0"
             style="background:#388E3C;">
            <div class="card-body text-center">
                <h6>Active Patients</h6>
                <h2 class="fw-bold">@ViewBag.ActivePatients</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white shadow-sm border-0"
             style="background:#EF6C00;">
            <div class="card-body text-center">
                <h6>Pending Lab Results</h6>
                <h2 class="fw-bold">@ViewBag.PendingLabResults</h2>
            </div>
        </div>
    </div>

</div>